# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#msvc2012
*.sdf
*.suo
projectVC2012/x64/*

#vim
*.swp

#python
__pycache__

